
.item{
    font-family: "Inter", sans-serif;
    color: #111;
    background: #f5f6f8;
    height: 360px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    width: min(280px,30vw);
    margin: 0;
}

.img{
    width: 100%;
    max-width: 300px;
    height: 400px;
    object-fit: cover;
    position: absolute;
    inset: 0;
  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 24px 25px;
    color: #fff;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      0deg,
      #020024 0%,
      #000032a1 3%,
      #17d9ff00 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.main{
    width: 88vw;
    margin: auto;
}

.heading{
    margin-top: 1rem;
    margin-bottom: 1rem;
}