:root{
    --green:#27ae60;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid #444;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}


/* Bootstrap hamburg (navbar) border remove  */
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
/* ends here border removal */

.border-none{
    border: none;
}

.w-100{
    width: 100%;
}
.bg-none{
    background-color: inherit;
}
